/* styles.css */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: fantasy;
}

.search {
  text-align: center;
  margin: 20px 0;
}

.search input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border-radius: 8px;
}

.search button {
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: yellow;
}

.movie-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 100%;
 height: 300px;
  max-width: 500px; /* Set maximum width for each card */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px; /* Increase padding */
  margin: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 4px;
}

.card h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px; /* Increase font size */
}

.card h4 {
  margin: 5px 0;
}

/* Flexbox for responsive layout */
@media only screen and (min-width: 768px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-container {
    max-width: 1000px; /* Set maximum width for movie container */
    margin: 0 auto; /* Center movie container on larger screens */
  }

  .card {
    max-width: calc(50% - 40px); /* Set card width for desktop (2 cards in a row) */
  }
}
