/* styles.css */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: fantasy;
}

.search {
  text-align: center;
  margin: 20px 0;
}

.search input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border-radius: 8px;
}

.search button {
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: yellow;
}

.movie-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  max-width: 250px; /* Reduce max-width to half */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 20px;
}

.card h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #333;
}

.card h4 {
  margin: 5px 0;
  color: #666;
}

/* Flexbox for responsive layout */
@media only screen and (min-width: 768px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .card {
    max-width: calc(50% - 40px);
  }
}
